# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

aiohttp
azure-functions
azure-mgmt-automation==1.1.0b4
azure-identity
azure-mgmt-resource
git+https://github.tools.sap/eng/azpoe-common.git#egg=azpoe_common
pandas
openpyxl